* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    color: #fff;
}

/* Navbar */
header {
    padding: 20px 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
}

.logo span {
    color: #00f2fe;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}
.project-cover {
  width: 100%;
  height: 180px;
  object-fit: cover; 
  border-radius: 6px;
  margin-bottom: 12px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00f2fe;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
}

.hero h2 span {
    background: linear-gradient(to right, #00f2fe, #4facfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
    opacity: 0.9;
}

.hero button {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, #00f2fe, #4facfe);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
}

.hero button:hover {
    transform: scale(1.1);
}

/* Glass Effect */
.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    margin: 50px auto;
    padding: 50px;
    max-width: 800px;
    text-align: center;
}

/* Projects */
#projects {
    padding: 60px;
    text-align: center;
}

.projects {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    width: 250px;
    border-radius: 15px;
    transition: transform 0.4s, box-shadow 0.4s;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

/* Contact */
form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin: 10px 0;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}

form button {
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, #00f2fe, #4facfe);
    font-weight: bold;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    opacity: 0.7;
}
